extends layout

block content
            .panel.panel-default
                .panel-heading Trip Selector
                .panel-body        
                    form(action='/start', method='post', id='trip')
                      fieldset
                        label ROUTE
                        br  
                        select.browser-default.custom-select#route(name='route')
                          option(value='0') STO - GBG  
                          option(value='1') STO - UPP
                          option(value='2') STO - OST
                          option(value='3') LUL - KIR
                          option(value='4') VAX - GBG     
                          option(value='5') KNA - MLM  
                        br
                        br
                        label TRAIN
                        br 
                        select.browser-default.custom-select#train_nr(name='train_nr')
                          option(value='X2008') X2008  
                          option(value='U2510') U2510
                          option(value='U2842') U2842
                          option(value='U2611') U2611
                          option(value='U2840') U2840     
                          option(value='U2808') U2808  
                        br
                        br  
                        select.browser-default.custom-select#action(name='action')
                          option(value='start') start trip
                          option(value='stop') stop trip
                        br   
                        br                                        
                        button.btn.btn-danger(type='submit', form='trip')  submit »
